* {
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}

/*General*/
body {
    background-color: beige;
}


/*HOME*/
/*Texto*/
.logo {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-size: 1rem;
}

.menu {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;

}

.botón-tickets {
    font-family: "Elms Sans", sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    color: white;
}

.lapiscine {
    font-family: "Poiret One", sans-serif;
    font-weight: 00;
    font-size: 4rem;
    color: white;
}

.exhibition {
    font-family: "Poiret One", sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    color: white;
}

.intro {
    font-family: "Poiret One", sans-serif;
    font-weight: 100;
    font-size: 1rem;
}

.info-principal {
    font-family: "Pathway Extreme", sans-serif;
    font-size: 0.7rem;
}

.info-title {
    font-family: "Pathway Extreme", sans-serif;
    font-weight: 500;
    font-size: 0.7rem;
}

.info-text {
    font-family: "Pathway Extreme", sans-serif;
    font-weight: 300;
    font-size: 0.7rem;
}


/*Elementos*/
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5vw;
    padding-right: 1vw;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu ul{
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.logo {
    padding-left: 1vw;
}

.img-hero{
    width: 100%;
    padding-top: 0.5vw;
}

.botón-tickets {
    display: flex;
    justify-content: center;
    position: absolute;
    text-decoration: none;
    top: 50%;
    left: 50%;
    background-color: black;
}

.lapiscine {
    display: flex;
    justify-content: center;
}

.exhibition {
    display: flex;
    justify-content: center;
}

.intro {
    display: flex;
    justify-content: center;
    margin: 3vw;
}

.info-principal{
    display: flex;
    justify-content: center;
    gap: 8vw;
    margin: 4vw;
}

.info-opening,
.info-localizacion,
.info-tickets{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery{
    display: flex;
    gap: 1vw;
    padding-top: 2vw;
    padding-bottom: 7vw;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.column img{
    width: 100%;
}



/*ABOUT*/
/*Texto*/
.hero-about {
    font-family: "Poller One", sans-serif;
    font-weight: 300;
    color: white;
}

.about-the-film-title {
    font-family: "Poiret One", sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

.inside-the-exhibition-title {
    font-family: "Poiret One", sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

.text {
    font-family: "Poiret One", sans-serif;
    font-weight: 100;
    font-size: 1rem;
}

/*Elementos*/
.img-hero-about {
    width: 100%;
}





/*TICKETS*/
/*Texto*/
.directed-by {
    font-family: "Poiret One", sans-serif;
    font-weight: 100;
    font-size: 2rem;
    color: white;
}

.jacques-deray {
    font-family: "Poller One", sans-serif;
    font-weight: 300;
    color: white;
}

.select-tickets-title {
    font-family: "Poiret One", sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

.select-tickets-texto {
    font-family: "Poiret One", sans-serif;
    font-weight: 100;
    font-size: 1rem;
}

.ticket-box {
    font-family: "Elms Sans", sans-serif;
    font-weight: 500;
    font-size: 0.7rem;
}

/*Elementos*/
.img-hero-tickets {
    width: 100%;
}








/*FOOTER*/
.footer-logo {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
}

.footer-eslogan {
    font-family: "Poiret One", sans-serif;
    font-weight: 100;
}

.footer-info {
    font-family: "Elms Sans", sans-serif;

}

footer {
    padding: 3%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5vw;
    background-color: #6f745c;
    color: white;
}

footer > :first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

footer > :nth-child(2) {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

footer > :nth-child(2) > div {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

footer > :nth-child(2) > :first-child > ul {
    display: flex;
    gap: 1.5vw;
}

footer > :last-child {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    padding-top: 2vw;
}

footer > :last-child > ul {
    display: flex;
    gap: 2vw;
}

footer ul {
    list-style: none;
}



